.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 2rem;
}

.details {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.input-columns {
  display: flex;
}

.input-column {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;

}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  resize: vertical;
}

textarea {
  min-height: 100px;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button {
  background-color: #f44336;
  color: #fff;
  margin-right: 10px;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  
}

.button:hover {
  background-color: #ddd;
}

.submit-button:hover {
  background-color: #45a049;
}
