body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.logo{
  width: 50px;
  height: auto;
  position: relative;
  top: 0.8rem;
  border-radius: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

header {
  background: linear-gradient(to right,#364b66, #5f9a1b, #364b66);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 8px solid;
  border-color: #f9f9f9;
}

header h1 {
  font-size: 3em;
  letter-spacing: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.2em;
}

main {
  padding: 20px 0;
}

.how-to-use {
  background-color: white;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 2rem;
  
}

.how-to-use h2 {
  color: #22456a;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.how-to-use ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.review {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1rem
  
}

.review h2 {
  color: #007bff;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.review p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.review button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.review button:hover {
  background-color: #0056b3;
}

footer{
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
  footer p{
    font-size: 14px;
    color: #666;
    margin: 0;
  }
  footer a{
    color: #007bff;
    text-decoration: none;
  }

#descrizione {
  background-color: #f9f9f9;
  padding: 20px ;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  margin-left: 2rem;
}

#descrizione h2 {
  color: #1c8a1c;
  font-size: 2em;
  margin-bottom: 20px;
}

#descrizione p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.container2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.immagine img{
  width: 25rem;
  height: 14.5rem;
  border-radius:10px ;
  border: 5px solid;
  border-color: #fff;
}