<header>
  <div class="container">
    <h1>TrekTogether <img class="logo" src="../../../assets/images/logo.jpg"></h1>
    <p>Benvenuto su TrekTogether! Condividi i tuoi itinerari e scopri nuovi posti con altri viaggiatori.</p>
  </div>  
</header>

<div id="descrizione">
  <div class="container">
    <h2>Esplora il mondo con TrekTogether 🍃🌍</h2>
    <p>TrekTogether è la tua guida di viaggio personale, progettata per semplificare e migliorare ogni aspetto delle tue avventure. Pianificare un viaggio può essere una sfida, ma con TrekTogether, ti offriamo un modo semplice e divertente per scoprire nuovi posti e vivere esperienze indimenticabili.</p>
    <p>Che tu stia cercando una destinazione esotica per una vacanza rilassante o un'avventura emozionante, TrekTogether ti mette in contatto con una comunità globale di viaggiatori appassionati pronti a condividere le loro esperienze e i loro consigli.</p>
    <p>Scopri spot unici, dai monumenti storici alle gemme nascoste, e lasciati ispirare dalle storie e dalle esperienze personali degli altri utenti. Ogni luogo condiviso include una descrizione dettagliata e consigli utili su dove mangiare, dormire e cosa fare nella zona.</p>
  </div>
  <div class="immagine1">
      <img src="../../../assets/viaggio.jpg" alt="">
  </div>
</div>

  <div class="container2">
    <div class="content">
      <div class="how-to-use">
        <h2>Come Usare TrekTogether al meglio?</h2>
        <ol>
          <li>Accedi al tuo account o registrati se sei un nuovo utente.</li>
          <li>Crea nuovi spot per condividere i luoghi che hai visitato.</li>
          <li>Esplora gli itinerari condivisi dagli altri utenti.</li>
          <li>Condividi i tuoi itinerari preferiti con i tuoi amici!</li>
          <li>Pianifica i tuoi viaggi e lasciaci un feedback!</li>
        </ol>
      </div>
      
    </div>

    <div class="immagine">
      <img src="../../../assets/6.png" alt="">
    </div>

    <div class="review">
      <div id="feedbackSection">
        <h2>Conosci già TrekTogether?</h2>
        <p>Aiutaci a migliorare il nostro sito con il tuo feedback!</p>
        <button routerLink="/reviews">Fai una recensione</button>
      </div>
    </div>

    
   
  </div>


  <footer>
    <div class="container">
        <p>&copy; 2024 TrekTogether. Tutti i diritti riservati. | Contattaci: <a href="mailto:info@trektogether.com">info@trektogether.com</a> | Seguici sui social: <a href="https://www.instagram.com/TrekTogetherApp">Instagram</a> | <a href="https://www.facebook.com/TrekTogetherApp">Facebook</a></p>
    </div>
</footer>

  