
  <header>
    <h1>TrekTogether</h1>
    <p>Benvenuto su TrekTogether! Condividi i tuoi itinerari e scopri nuovi posti con altri viaggiatori.</p>
  </header>

  <main>
    <div class="how-to-use">
      <ol>
        <h2>Come Usare TrekTogether</h2>
        <li>Accedi al tuo account o registrati se sei un nuovo utente.</li>
        <li>Crea nuovi spot per condividere i luoghi che hai visitato.</li>
        <li>Esplora gli itinerari condivisi dagli altri utenti.</li>
        <li>Aggiungi i luoghi che ti interessano alla tua lista dei desideri.</li>
        <li>Condividi i tuoi itinerari preferiti con i tuoi amici!</li>
      </ol>

      <div class="something">
        
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 TripTogether - Tutti i diritti riservati.</p>
  </footer>


