

<div class="centred-container">
        <!-- Welcome screen content -->
    <div class="immagine">
        <img src="../../../assets/images/4.jpg" alt="">
        </div>

        <div class="title">
        <span>TrekTogether</span>
        <a class="motto">Viaggia Scopri Condividi</a>
    </div>     
</div>

<div class="text">
    <p>La tua destinazione ideale</p>
    <p>ad un click di distanza</p>
</div>

<div class="social">
    <img src="../../../assets/social/social.png">
</div>

    <div class="box">
        <div class="one">
            <div>
                <img src="../../../assets/influencer.png" alt="">
                <a>Sei un creator o un <br>influencer?</a>
            </div>
            
            <button mat-button>Contattaci!</button>
        </div>
        <div class="two">
            <div>
                <img src="../../../assets/domande.png" alt="">
                <a>Domande o curiosità?</a>
            </div>
            
            <button mat-button>Scrivi qui!</button>
        </div>
    </div>



